
<p> <b> <h1> Welcome To inventory Control App  </h1> </b> </p>

<p> <h2> This Is Inventory Control App Which Depicts Some Of The Main Entities That Play Vital Role In The Managemnet Of Any Inventory Centered Business Organization </h2> </p>
